/* HTML5 ? Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #0082c8; color: #fff; text-shadow: none; }
::selection { background: #0082c8; color: #fff; text-shadow: none; }

a { color: #919191; }
a:visited { color: #919191; outline: 0; }
a:hover { color: #4d4e4e; cursor:pointer; }
a:focus { outline: 0; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
Main CSS
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

@font-face {
    font-family: 'TitilliumText22L250wt';
    src: url('../fonts/titilliumtext22l003-webfont.eot');
    src: url('../fonts/titilliumtext22l003-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titilliumtext22l003-webfont.woff') format('woff'),
         url('../fonts/titilliumtext22l003-webfont.ttf') format('truetype'),
         url('../fonts/titilliumtext22l003-webfont.svg#TitilliumText22L250wt') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: Helvetica, Arial, sans-serif;
}



ul { margin: 0px; padding: 0px; list-style: none; }
h1, h2, h3, h4, p { margin: 0; }
a { text-decoration: none; outline:0; }
a.nolink { cursor:default; }

#page { font-size: 11.5px; /*min-width: 980px;*/ }

#page .orange { overflow: hidden; text-indent: -999px; height: 24px; border:none; } 
#page a.orange { display: block; }
#page .orange:hover { background-position: 0 -24px; }

#page .readmore { width: 97px; background: url(../images/btn-readmore.png) no-repeat 0 0; }
#page .submit { width: 54px; background: url(../images/btn-submit.png) no-repeat 0 0; }


.floatleft { float: left;  }
.floatright { float: right; }

/* global */
.alignright{
	float:right;
	margin:0 0 15px 15px;
}
@media (min-width: 991px){
.container{
	width: 955px;
}
}


/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
Main Body
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.nofloat {
	float: none !important;
}

#content-container { background: url(../images/bg-content.png) repeat-x center 0; }

#content {
	/*width: 925px;*/
	margin: 0 auto;
	color: #4d4e4e;
	padding-bottom: 20px;
}

#content .paginate { display: block; float: right; padding-top:20px;}

#content .paginate a { font-weight: normal; }
#content .paginate a, #content .paginate .current  {
	line-height: 25px;
	color: #f08c20;
	display: inline-block;
/*	float: left;*/
	height: 25px;
	width: 25px;
	margin: 0 2px;
	text-align: center;
}
#content .paginate a { background-color: #dededd; }
#content .paginate .current  { background-color: #f08c20; color: #fff; font-weight: bold;}
#content .paginate a:hover { font-weight: bold; background-color: #b7b7b7;  }
#content .paginate a img { margin-top: -3px; }

#content h1 { font-size: 18px; font-weight: normal; padding: 0 0 10px 0; color: #337fbd; }
#content h2.other {
	font-size:13px;
	background-color: #ececec;
	margin-top: 35px;
	margin-bottom: 20px;
	padding:10px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
#content p { padding: 0 0 8px 0; line-height: 20px; }

#content div.hr {height: 20px; background: url(../images/hr1.png) no-repeat top center; }
#content div.clearhr { height: 64px; background:url("../images/hr1.png") no-repeat scroll center center transparent; }
#content #breadcrumbs { height: 58px; line-height: 58px; }
#content #breadcrumbs li { float: left; padding-left: 14px; background: url(../images/bg-crumbs-divider.png) no-repeat 3px center; }
#content #breadcrumbs li.selected a{ color: #337fbd; }
#content #breadcrumbs span:last-child span{ color:#337FBD;}
#content #breadcrumbs li.first-child { background: none; padding-left: 0;}
#content #breadcrumbs a.nolink:hover { color:#919191;}

#content #main { width: 100%; /*float: right; padding-left: 30px;*/ /*min-height: 400px;*/}
.one-column #content #main { width: 925px; float:none; padding-left:0;}



/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
Sidebar
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
#content #sidebar {width: 100%; float: left; }

#sidebar .sidenav li { background-color: #6d7279; line-height: 28px; }
#sidebar .sidenav li a { color: #fff; margin-left: 2px; padding-left: 11px; display: block; border-top: solid 1px #646b74; border-bottom: solid 1px #81858b; }
#sidebar .sidenav li ul { display: none; line-height: 23px; }
#sidebar .pagesidenav li ul { display:block; }
#sidebar .pagesidenav p { color: #ffffff; padding: 6px; }
#sidebar .pagesidenav h2 { color: #ffffff; text-align: center; }
#sidebar .sidenav li ul li { line-height: 23px; }
#sidebar .sidenav li li { background-color: #ebebeb;  }
#sidebar .sidenav li li a { color: #4d4e4e; margin-left: 15px; border: none; background: url(../images/arrow-left2.png) no-repeat 0 0; }
#sidebar .sidenav li li.arrow-down a { background-image: url(../images/arrow-down.png); }
#sidebar .sidenav li li li a { margin-left: 28px; color: #4d4e4e; }
#sidebar .sidenav li li.arrow-down li a { background-image: url(../images/arrow-left2.png); }

/*#sidebar .sidenav li.first-menu-item, #sidebar .sidenav li.first-menu-item:hover { background-color: #337FBD; }*/

/*/
/*====================
/* kuma
/*====================
/*/

#sidebar .pagesidenav li.current-menu-item{
	background-color: #337FBD;
}
#sidebar .pagesidenav li.current-menu-item:hover{
	background-color: #337FBD;
}
#sidebar .pagesidenav li ul.sub-menu {
    display: none;
}
#sidebar .pagesidenav li.current-menu-item ul.sub-menu {
	display: block;
}
#sidebar .pagesidenav li.current-menu-item ul.sub-menu li.menu-item-has-children ul.sub-menu{
	display: none;
}

#sidebar .pagesidenav li.current-menu-parent ul.sub-menu li.current-menu-item{
	background-color: #ebebeb !important;
}

/*/
/*====================
/* sec step
/*====================
/*/
#sidebar .pagesidenav li.current-menu-parent ul.sub-menu{
	display: block;
}
/*#sidebar .pagesidenav li.current-menu-parent ul.sub-menu{

}*/

#sidebar .pagesidenav li.current-menu-parent ul.sub-menu li.current-menu-item a {color: #337FBD;}
#sidebar .pagesidenav li.current-menu-parent ul.sub-menu li.current-menu-item ul.sub-menu li a{color: #4d4e4e;}
#sidebar .pagesidenav li.current-menu-parent ul.sub-menu li.current-menu-item a {
	text-decoration: none;
	color: #337fbd;
	background-position: 0 -23px; 
}
#sidebar .pagesidenav li.current-menu-parent ul.sub-menu li.current-menu-item ul.sub-menu li a {
	background-position: 0 0px; 
}

/*/
/*====================
/* third steps
/*====================
/*/
#sidebar .pagesidenav li.current-menu-ancestor ul.sub-menu{display: block;}
#sidebar .pagesidenav li.current-menu-ancestor ul.sub-menu li.current-menu-parent a{color:#337fbd;}
#sidebar .pagesidenav li.current-menu-ancestor ul.sub-menu li.current-menu-parent ul.sub-menu li a {color:#4d4e4e;}
#sidebar .pagesidenav li.current-menu-ancestor ul.sub-menu li.current-menu-parent ul.sub-menu li.current-menu-item a {color:#337fbd;}

#sidebar .pagesidenav li.current-menu-ancestor ul.sub-menu li.current-menu-parent a {
	background-position: 0 -23px; 
}
#sidebar .pagesidenav li.current-menu-ancestor ul.sub-menu li.current-menu-parent ul.sub-menu li.current-menu-item a {background-position: 0 -23px;  }

#sidebar .pagesidenav li.current-menu-ancestor ul.sub-menu li.current-menu-parent ul.sub-menu li a {
	background-position: 0 0px; 
}
/*/
/*====================
/* fourth steps
/*====================
/*/
#sidebar .pagesidenav li.current-menu-ancestor ul.sub-menu li.current-menu-parent ul.sub-menu li.current-menu-item ul.sub-menu  li a {color:#4d4e4e;}
#sidebar .pagesidenav li.current-menu-ancestor ul.sub-menu li.current-menu-ancestor ul.sub-menu li.current-menu-parent ul.sub-menu li.current-menu-item a {color:#337fbd;}





#sidebar .sidenav li:hover { background-color: #494f58; }
#sidebar .sidenav li li.selected, #sidebar .sidenav li li:hover, #sidebar .sidenav li li.selected:hover { background-color: #ebebeb; }

#sidebar .sidenav li li a:hover,#sidebar .sidenav li li a.selected,#sidebar .sidenav li li.current-menu-item a 
{text-decoration: none; color: #337fbd; background-position: 0 -23px; }

#sidebar .sidenav li.active { background-color: #337FBD; }


#content div.tabs-nav { border-bottom: 1px solid #cac9c9; }
#content div.tabs-nav ul { height: 29px; width: 100%; float: left; position: relative; }
#content div.tabs-nav ul li {
	position: relative;
	float: left;
	width: 139px;
	height: 29px;
	/*line-height: 29px;*/
	margin: 0 -11px 0 0;
	text-align: center;
	background: url(../images/product-tab.png) no-repeat 0 0;
	text-transform: uppercase;
	font-size: 11px;
}

#content div.tabs-nav ul li a {
	display: block;
	width: 139px;
	height: 29px;
}


#content div.tabs-nav ul li.first-child { background-image: url(../images/product-tab-first.png);}
#content div.tabs-nav ul li.first-child a {  }
#content div.tabs-nav ul li:hover { background-position: 0 -30px; } 
#content div.tabs-nav ul li.selected,
#content div.tabs-nav ul li.selected:hover { background-position: 0 -60px; height: 30px; z-index: 100; border-bottom: 1px solid #fff;  }
#content div.tabs-nav ul li.selected a {color: #337fbd; }

#content .tabs-item-title {
	display:none;
}
#content div.tabs-item { 
	padding: 20px 10px;
	display: none;	
	height: 250px;
	overflow: auto;
}
#content div.tabs-item .toggle {
	display:none;
	float:right;
	margin-bottom:10px;
}
#content div.tabs-item .toggle img {
	background-color:transparent;
	border:none;
	box-shadow:none;
	padding:0;
}
#content div.tabs-item .toggle:hover span {
	text-decoration:underline;
}
#content div.tabs-item .toggle sup {
	font-size:10px;
	top:-0.25em;
}
#content .tabs-item table {
	width:100%;
}
#content .tabs-item table td, .tabs-item table th {
	border-bottom:1px solid #cac9c9;
	border-left:1px solid #ddd;
	margin:0;
	padding:4px 2px;
}
#content .tabs-item table tr td:first-child, #content .tabs-item table tr th:first-child {
	border-left:none;
}
#content .tabs-item table a {
	color: #337fbd;
}

#content .product-image-lg {
	display: block;
	width: 234px;
	height: 175px;
	background: url(../images/product-frame-lg.png) no-repeat 0 0;
	padding: 8px 0 0 7px;
	float:left;
}
#content .product-image-lg a {
	display:block;
	width:224px;
	height:164px;
}
#content .product-image-lg img {
	display:none;
}
/*
#content .product-image-lg:hover a {
	opacity:0.55;
	filter:alpha(opacity=55);
}
*/
#content .overlay {
	
	display:none;	
	
	width:700px;
	border:10px solid #666;

	border:10px solid rgba(82, 82, 82, 0.698);

	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	z-index:999;
	
}

#content .overlay div {
	position: relative;
	padding:20px 10px 10px 10px;
	border:1px solid #3B5998;
	background-color:#fff;	
	text-align:center;
}

#content .overlay div .close {
	position: absolute;
	top: 6px;
	right: 10px;
}


/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
Header
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*#header-container { background: url(../images/bg-header.png) repeat-x 0 0; }*/
#header {
	width: 100%;
	/*height: 188px;*/
	margin: 0 auto;
}

#header-top { height: 39px; line-height: 39px; font-size: 11px; }
#header-top ul { float: left; height:  39px; width: 100%; }
#header-top ul li { float: left; padding-left: 21px; background: url(../images/header-divider.png) no-repeat 10px center; }
#header-top ul li img { margin-right: 6px; }
#header-top ul li.first-child { float: left; padding-left: 0px; background: none; }
#header-top form { float: left; height: 39px; width: 55%;text-align: center;}
#header-top form input.search-bx { background: url(../images/bg-search.png) no-repeat 0 0; border: none; height: 24px; width: 141px; padding: 0 0 0 7px; font-style: italic; }
#header-top form input.search-btn { background: url(../images/btn-go.png) no-repeat 0 0; border: none; height: 24px; width: 48px; margin-left: -16px;  }
#header-top a.login  { float: right; width: 45%; background: url(../images/btn-login.png) no-repeat 0 0;margin-top: 8px; }


#header-middle { height: 149px; position: relative; }
#header-middle img.logo { position: absolute; top: 47px; display:none; }
#header-middle a.logo { position: absolute; top: 40px; padding-top: 7px; }
#header-middle a.logo:hover { background: url(../images/home.png) no-repeat 250px 0;  }

#header-middle h1.contact { position: absolute; color: #337fbd; top: 46px; right: 15px;font-size: 23px;font-weight: bold; }
#header-middle ul.menu { float: right; margin: 94px 0px 0 0; height: 12px; font-size: 12px; }
#header-middle ul.menu li { float: left; text-transform: uppercase; padding: 0 15px 0 15px; position: relative; font-weight: bold; }
#header-middle ul.menu li p { font-weight:normal; }
#header-middle ul.menu li a { height: 50px; display: block; }
#header-middle ul.menu li.selected a { color:#4D4E4E; }
#header-middle ul.menu li:hover a { color:#337fbd; }

/*Drop Down Menu*/

li > div.dropdown {
	position: absolute;
	top: 0;	
	background-color: #ececec;
	margin: 43px 0 0 -314px;
	z-index: 500;
	border: 3px solid #fff;
	font-size: 9px;
	
	visibility:hidden;
	opacity:0;
	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	transition:opacity 0.2s linear;	

	-moz-box-shadow: 0 0 3px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 3px 3px rgba(0,0,0,0.1);
	box-shadow: 0 0 3px 3px rgba(0,0,0,0.1);
	
}
li.products > div.dropdown {
	left:20%;
}
li.brands > div.dropdown {
	right:7%;
}
li.services > div.dropdown, li.about > div.dropdown {
	right:0;
}

li:hover > div.dropdown {
	opacity:1;
	visibility:visible;
}

#page #header-middle ul.menu div.dropdown .arrow { width: 100%; height: 25px; position: absolute; top: -19px; left: 0px; background: url(../images/dropdown-arrow.png) no-repeat center 0; }
#page #header-middle ul.menu li.about div.dropdown .arrow { background-position: 75% 0; }

#page #header-middle ul.menu div.dropdown h3 {  font-size: 10px; padding: 5px 0; font-weight: bold; text-transform: uppercase; } 
#page #header-middle ul.menu div.dropdown a {  color: #4d4e4e; } 
#header-middle ul.menu div.dropdown li { text-transform: none; padding: 0; }
#header-middle ul.menu li.products div.dropdown li { text-transform: none; padding: 0;width: 25%; }

#page #header-middle ul.menu div.dropdown ul.list {
	display:block;
	
}
#page #header-middle ul.menu div.dropdown ul.list li a {
	display:block;	
	line-height:20px;
	height:20px;
	padding:1px 0;
	text-decoration: none;
	text-align:center;
	font-size:120%;
	font-weight:normal;	
}
#page #header-middle ul.menu div.dropdown ul.list li a:hover {
	background-color:#fff;
	color:#337fbd;
}
#page #header-middle ul.menu li.brands div.dropdown ul.list, 
#page #header-middle ul.menu li.brands div.dropdown ul.list li a {
	width:130px;
}
#page #header-middle ul.menu li.services div.dropdown ul.list, 
#page #header-middle ul.menu li.services div.dropdown ul.list li a, 
#page #header-middle ul.menu li.about div.dropdown ul.list, 
#page #header-middle ul.menu li.about div.dropdown ul.list li a {
	width:160px;
}	

#page #header-middle ul.menu div.dropdown ul.matrix {
	display: block;
	width: 726px;
}

#page #header-middle ul.menu div.dropdown ul.matrix li a {
	display:block;
	width: 100%;
	height: 180px;
	text-align: center;
	padding:6px;
	border-right: 2px solid #e3e3e3;
	border-top: 2px solid #e3e3e3;
	overflow:hidden;	
}
#page #header-middle ul.menu div.dropdown ul.matrix li a.right {
	border-right:none;
}
#page #header-middle ul.menu div.dropdown ul.matrix li a.top {
	/*border-top:none;*/
	text-decoration: none;
}

#page #header-middle ul.menu div.dropdown ul.matrix li a:hover { background-color: #fff; }
#page #header-middle ul.menu div.dropdown ul.matrix li a:hover h3 { color: #337fbd; }
#page #header-middle ul.menu div.dropdown div.cat-img {
	width: 100%;
	height: 100px;
	border: 2px solid #e3e2e2;
}
#page #header-middle ul.menu div.dropdown div.cat-img img {
	display:none;
}


/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
Footer
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
#footer-container { background: url(../images/bg-footer.png) repeat-y center 0 #34383f; }
#footer {
	width: 100%;
	margin: 0 auto;
	padding-top: 25px;
	overflow: hidden;
	font-size: 11px;
	color: #c6c5c5;
}
#footer a { color: #c6c5c5; text-decoration: none;}
#footer a:hover { color: #fff; }
#footer h1 { font-size: 11px; font-weight: normal; padding-bottom: 15px; text-transform: uppercase; }

#footer-top { background: url(../images/bg-footer-hr.png) repeat-x center bottom; padding-bottom:20px; }
#footer-top h1 { font-weight:bold; }
#footer-top .hydraulic-categories, #footer-top .hydraulic-brands, #footer-top .support, #footer-top .contact, #footer-top .sign-up {
	display:inline-block;
	float:left;
}
#footer-top .hydraulic-brands, #footer-top .hydraulic-categories { width: 20%; }
#footer-top .support { width: 20%; }
#footer-top .contact { width: 20%; }
#footer-top .sign-up { width: 20%; }

#footer-top .hydraulic-brands li, #footer-top .hydraulic-categories li { float: left; width: 50%; }
#footer-top .hydraulic-brands li.heading, #footer-top .hydraulic-categories li.heading { width: 100%; }

#footer-top div.sign-up input.search-bx { color: #676767; font-style: italic; display: block; border: none; width: 148px; height: 27px; width: 136px; margin: 10px 0; padding: 0 7px; background: url(../images/bg-search-footer.png) no-repeat 0 0; }


#footer-bottom { height: 40px; line-height: 40px; } 
#footer-bottom ul { float: left; padding-right: 20px; }
#footer-bottom ul li { float: left; padding-left: 20px; background: url(../images/footer-divider.png) no-repeat 9px center; }
#footer-bottom ul li.first-child { padding-left: 0px; background: none; }
#footer-bottom a.back-top { float: right; }

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
Home Page
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
body.home #content-container { background: url(../images/bg-home.png) repeat-x center 0; }

body.home  ul#slides { height: 327px; padding: 24px 0 45px 0; background: url(../images/bg-banner-shadow.png) no-repeat center bottom; }
body.home  #slides h1 { color: #fff; font-family: 'TitilliumText22L250wt'; font-size: 23px; }
body.home  #slides li { height: 327px; width: 925px; }
body.home  #content #slides li div.caption {
	background: url(../images/bg-banner-text.png) repeat 0 0 transparent;
	width: 220px;
	height: 250px;
	float: right;
	margin: 13px 13px 0 0;
	padding: 54px 31px 0 32px;
	color: #fff;
}

#slides li div a.readmore { margin-top: 20px; }

/*
 * jQuery Nivo Slider v2.6
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 
/* The Nivo Slider styles */
#home-slider-holder {
	padding: 24px 0 45px 0; 
	background: url(../images/bg-banner-shadow.png) no-repeat center bottom;
}
#home-slider-wrap {
	width: 100%;
	height: 337px;
	border:5px solid #fff;
	position:relative;
	/*border: none;	*/
}
#home-slider-wrap .slider-border {
	position:absolute;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
	background:#fff;
	z-index:10;
}
#home-slider-wrap .slider-border-top {	
	top:0;
	left:0;
	width:100%;
	height:6px;	
}
#home-slider-wrap .slider-border-bottom {	
	bottom:0;
	left:0;
	width:100%;
	height:6px;	
}
#home-slider-wrap .slider-border-left {	
	top:6px;
	left:0;
	width:6px;
	height:315px;	
}
#home-slider-wrap .slider-border-right {	
	top:6px;
	right:0;
	width:6px;
	height:315px;	
}
#home-slider {
	width:100%;
	height:337px;
	overflow:hidden;
}
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */

#home-slider .nivo-caption  {
	position: absolute;
	z-index:7;
	top: 13px;
	right: 13px;
	width: 283px;
	height: 301px;
}
#home-slider .nivo-caption div {
	/*width:220px;*/
	height:300px;
	padding: 54px 31px 0 32px;
	overflow: hidden;
	color: #fff;
	background: url(../images/bg-banner-text.png) repeat 0 0 transparent;	
}
#home-slider .nivo-caption h1 {
	color: #fff; 
	font-family: 'TitilliumText22L250wt'; 
	font-size: 23px; 
	margin:0;
	padding: 0 0 10px 0;
}

#home-slider .nivo-caption a.readmore {
	margin-top: 20px;
}

.nivo-html-caption {
	display:none;
	
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;	
	display:block;
	width:30px;
	height:30px;
	text-indent:-999px;
	border:none;
	background:url(../images/nivo-arrows.png) 0 0 no-repeat transparent;
}
.nivo-directionNav a.nivo-prevNav {
	left:15px;
}
.nivo-directionNav a.nivo-nextNav {
	right:15px;
	background-position:-30px 0;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:9;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}

/*
	AnythingSlider v1.7+ Default (base) theme
	By Chris Coyier: http://css-tricks.com
	with major improvements by Doug Neiner: http://pixelgraphics.us/
	based on work by Remy Sharp: http://jqueryfordesigners.com/
*/

/*****************************
  SET DEFAULT DIMENSIONS HERE
 *****************************/
/* change the ID to match your slider */
#brands-slider-wrapper {
	width: 234px;
	height: 68px;
	margin:0 auto;
}

#brands-slider {
	width: 234px;
	height: 68px;
	list-style: none;
	/* Prevent FOUC (see FAQ page) and keep things readable if javascript is disabled */
	overflow-y: hidden;
	overflow-x: hidden;	
	padding:0;
	margin:0;
}
#brands-slider .brand {
	display:block;
	width:66px;
	height:68px;
	float:left;
	margin:0 5px;
}

/* Opera width restriction */
.anythingBase { max-width: 32766px; }

/*****************
  SET COLORS HERE
 *****************/
/**** Default state (no keyboard focus) ****/
/* slider window - top & bottom borders, default state */
div.anythingSlider .anythingWindow {
	border: none;
}
/* Navigation buttons, default state */

/* start-stop button, stopped, default state */
div.anythingSlider .start-stop {
	background-color: #040;
	color: #fff;
	display:none !important;
}
/* start-stop button, playing, default state */
div.anythingSlider .start-stop.playing {
	background-color: #800;
}
/* start-stop button, default hovered text color (when visible) */
div.anythingSlider .start-stop:hover, div.anythingSlider .start-stop.hover {
	color: #ddd;
}

/**** Active State (slider has keyboard focus) ****/
/* slider window - top & bottom borders, active state */
div.anythingSlider.activeSlider .anythingWindow {
	border-color: #381900;
}
/* Navigation buttons, active state */
div.anythingSlider.activeSlider .anythingControls ul a.cur {
	background-position: 0 -10px;
}
/* start-stop button, stopped, active state */
div.anythingSlider .start-stop {
	background-color: #080;
	color: #fff;	
}
/* start-stop button, playing, active state */
div.anythingSlider .start-stop.playing {
	background-color: #d00;
}
/* start-stop button, active slider hovered text color (when visible) */
div.anythingSlider .start-stop:hover, div.anythingSlider .start-stop.hover {
	color: #fff;
}

/***********************
  COMMON SLIDER STYLING
 ***********************/
/* Overall Wrapper: 45px right & left padding for the arrows, 28px @ bottom for navigation */
div.anythingSlider {
	display: block;
	margin: 0 auto;
	overflow: visible !important; /* needed for Opera and Safari */
	position: relative;	
}
/* anythingSlider viewport window */
div.anythingSlider .anythingWindow {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}
/* anythingSlider base (original element) */
.anythingBase {
	background: transparent;
	list-style: none;
	position: absolute;
	overflow: visible !important;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}
/* all panels inside the slider */
.anythingBase .panel {
	width:234px;
	height:68px;	
	display: block;
	overflow: hidden;
	float: left;
	padding: 0;
	margin: 0;
	position:relative;
	background: url(../images/bg-brands-divider.png) no-repeat center center transparent;
}
.anythingBase .panel.vertical {
	float: none;
}

/* Navigation Arrows */
div.anythingSlider .arrow {
	top: 50%;
	position: absolute;
	display: none;	
}
div.anythingSlider .arrow a {
	display: block;
	height: 70px;
	margin: -30px 0 0 0; /* half height of image */
	width: 40px;
	text-align: center;
	outline: 0;	
}
/* hide text, target the span so IE7 doesn't text-indent the link */
div.anythingSlider .arrow a span { display: block; text-indent: -9999px; }
/* back arrow */
div.anythingSlider .back { left: 0; }
div.anythingSlider .back a { background-position: left top; }
div.anythingSlider .back a:hover, div.anythingSlider .back a.hover { background-position: left 0; }
div.anythingSlider .back.disabled { display: none; } /* disabled arrows, hide or reduce opacity: opacity: .5; filter: alpha(opacity=50); */
/* forward arrow */
div.anythingSlider .forward { right: -1px; }
div.anythingSlider .forward a { background-position: right top; }
div.anythingSlider .forward a:hover, div.anythingSlider .forward a.hover { background-position: right 0; }
div.anythingSlider .forward.disabled { display: none; } /* disabled arrows, hide or reduce opacity: opacity: .5; filter: alpha(opacity=50); */

/* Navigation Links */
div.anythingSlider .anythingControls { outline: 0; display: none; text-align:center; margin-top:10px; }
div.anythingSlider .anythingControls ul { margin: 0; padding: 0; display:inline-block; }
div.anythingSlider .anythingControls ul li { display: block; float:left; }
div.anythingSlider .anythingControls ul a {
	display:block;
	width: 11px; 
	height: 10px; 
	background: url(../images/btn-slider.png) no-repeat 0 0;
	text-indent:-99px;
	overflow:hidden;
	margin:1px;
}
div.anythingSlider .anythingControls ul a:hover, div.anythingSlider .anythingControls ul a.cur {
	background-position: 0 -10px;
}

/* Navigation size window */
div.anythingSlider .anythingControls .anythingNavWindow { overflow: hidden; float: left; }

/* slider autoplay right-to-left, reverse order of nav links to look better */
div.anythingSlider.rtl .anythingControls ul a { float: right; } /* reverse order of nav links */
div.anythingSlider.rtl .anythingControls ul { float: left; }    /* move nav link group to left */
div.anythingSlider.rtl .anythingWindow {
	direction: ltr;
	unicode-bidi: bidi-override;
}
/* div.anythingSlider.rtl .start-stop { float: right; } */ /* move start/stop button - in case you want to switch sides */


/* probably not necessary, but added just in case */
div.anythingSlider, div.anythingSlider .anythingWindow, div.anythingSlider .anythingControls ul a, div.anythingSlider .arrow a, div.anythingSlider .start-stop {
	transition-duration: 0;
	-o-transition-duration: 0;
	-moz-transition-duration: 0;
	-webkit-transition-duration: 0;
}

body.home #content #top-links { height: 90px; }
body.home #content #top-links li { /*height: 76px;*/width: 100%; /*padding: 7px 7px 9px 7px;*/ float: left; overflow: hidden; /*background:url(../images/bg-top-links.png) 0 0 no-repeat;*/ background:#000;/*border:5px solid #fff;*/}
body.home #content #top-links li.locate-a-reseller { /*margin: 0 13px 0 14px;*/ }
body.home #content #top-links li a { display:block; width:100%; height:76px; text-indent: -999px; overflow:hidden;}
body.home #content #top-links li.request-a-catalogue a { background: url(../images/bg-top-links-enquiries.png) center center no-repeat #efeff0; }
body.home #content #top-links li.locate-a-reseller a { background: url(../images/bg-top-links-reseller.png) center center no-repeat #efeff0; }
body.home #content #top-links li.contact-us a { background: url(../images/bg-top-links-contact.png) center center no-repeat #efeff0; }
body.home #content #top-links .boxwrap{display: inline-block;border: 5px solid #fff;width: 100%;}
body.home #content #top-links .shadows6
{
    position:relative;
    /*background: url(../images/product-frame-lg.png) no-repeat 0 0;*/
    background-color: #ececec;
    background-size: 100% 100%;

    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 0px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 0px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 0px rgba(0, 0, 0, 0.1) inset;
}
.shadows6:before, .shadows6:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.shadows6:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

body.home #content div.latest-news { width: 100%; height: 210px; float: left; }
body.home #content div.latest-news p.date { color: #adacad; font-weight: bold; }
body.home #content div.latest-news h3 { font-size: 12px; line-height: 20px;font-weight: bold; }
body.home #content div.latest-news ul li { width: 50%; float: left; padding-right: 23px; }
body.home #content div.brands-we-sell {
	text-align: center;
	width: 100%;
	height: 170px;
	padding-top: 18px;
	float: right;
	background: url(../images/bg-brands.png) no-repeat 0 0;
}

/*
body.home #content div.brands-we-sell ul.brand-images li { float: left; padding-right: 16px; }
body.home #content div.brands-we-sell ul.buttons { width: 70px; margin: 0 auto; padding-top: 18px; }
html.ie7 body.home #content div.brands-we-sell ul.buttons li {  margin: 0 1px 0 2px; display: block; width: 11px; height: 10px; float: left; }
body.home #content div.brands-we-sell ul.buttons li a{ float: left; width: 11px; height: 10px; margin: 0 1px 0 2px; background: url(../images/btn-slider.png) no-repeat 0 0; }
body.home #content div.brands-we-sell ul.buttons li.selected a { background-position: 0 -10px; }
*/



/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
Product Details
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
body.product-details #main a.product-image-lg { float: left; }


body.product-details #main div.product-description { width: 420px; float: left; padding-left: 24px; }
body.product-details #main div.product-description a.orange { float: left; margin-top: 20px; }
body.product-details #main a.send-an-enquiry { width: 130px; background-image: url(../images/btn-send-an-enquiry.png); }
body.product-details #main a.where-to-buy { margin: 0 9px; width: 114px; background-image: url(../images/btn-where-to-buy.png); }
body.product-details #main a.download-brochure{ width: 158px; background-image: url(../images/btn-download-brochure.png); }
body.product-details #main div.extra-buttons { height: 50px; margin-bottom: 30px; line-height: 50px; text-transform: uppercase; }
body.product-details #main a.print {float: right; }
body.product-details #main a.share {float: right; padding-left: 28px; }
body.product-details #main a.share img,
body.product-details #main a.print img,
body.product-details #main a.zoom img {margin-right: 4px; }
body.product-details #main .tabs-item tr td { background: #F8F8F8;}
body.product-details #main .tabs-item tr.even td { background: #ececec;}
body.product-details #main .tabs-item tr:nth-child(1) td { background: #ffffff;}
body.product-details #main .tabs-item tr:nth-child(2) td { background: #ffffff;}
body.product-details #main .tabs-item tr:hover td { background:#67a3d4; color:#fff; }
body.product-details #main .tabs-item tr:hover td a { color: #fff; text-decoration:underline; }
body.product-details #main .tabs-item tr.thead td, body.product-details #main .tabs-item th, body.product-details #main .tabs-item thead td, body.product-details #main .tabs-item th {
	background:#67a3d4 !important;
	color:#fff !important;
	font-size:13px !important;
	line-height:13px !important;
	font-weight:bold !important;
}




/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
IE Fixes
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

html.oldie #header-top form { height: 31px; margin-top: 8px; }
html.oldie #header-top form input.search-bx { float: left; line-height: 25px; }
html.oldie #header-top form input.search-btn { float: left;  }
html.ie7 #page input.orange  { font-size: 0; line-height: 0; } 
html.oldie #footer-top div.sign-up input.search-bx { float: left; line-height: 25px; }
html.ie7 body.product-details #main a.zoom { float: left; }
html.ie7 #content ul.products, html.ie7 .grid { margin-right: 0px; width: 757px; }
html.ie7 body.contact fieldset#contact { width: 264px; }
html.ie7 body.contact fieldset#contact input, html.ie8 body.contact fieldset#contact input { padding-top: 8px; height: 20px; border-radius: 12px; behavior: url(/PIE.htc); }
html.ie7 fieldset#contact textarea, html.ie8 fieldset#contact textarea{border-radius: 10px; behavior: url(/PIE.htc); }
html.ie7 #header .menu li { z-index: 500; }
html.ie7 #header-container { position: relative; z-index: 1;}
html.ie7 #content .paginate a, html.ie7 #content .paginate strong  { float: none; display: inline-block;}
html.ie7 .anythingSlider .anythingControls ul { margin-left: 85px; }
html.ie7 #main h1 a.print { padding-bottom: 50px; padding-left: 10px; }
html.ie7 #content .paginate a img { margin-top: 0; }




/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

#breadcrumbs li:first-child {
	background: none !important;
	padding-left: 0 !important;
}

#breadcrumbs li {
	color: #337FBD;
}

/* =================================================
News / Knowledge Base
==================================================*/



.othernews ul {
	margin-left: 14px;	
}

.news-detail #main .othernews ul li {
	margin: 16px 0;
}
/*.news-detail #main .othernews ul li a {
	background: url(../images/news-arrow.png) no-repeat 0 4px;
	padding-left: 15px;
}*/


.news-summary #main .feature {
	width:100%;
}
.news-summary #main .feature img {
	width:220px;
	margin-right:15px;
	float: left;
	padding:1px;
	border: 4px solid #e3e3e3;
	box-shadow: 0px 2px 4px #888;
	background-color: #e9e9e9;	
}

.news-summary #main .feature .wrap {	
	/*width:435px;*/
	height:100%;
	float:left;	
}

.news-summary #main .feature p {
	text-align:justify;
}

.news-summary #main .feature a.readmore {
	float:right;
}
.news-summary #main ul h2, .news-summary #main .feature h2{ font-size:17px; font-weight:bold;line-height:20px;}
.news-summary #main .feature h2 {
	padding: 7px 0 7px 0;
}

.news-summary #main ul li, .knowledge-summary #main ul li {
	position: relative;
	padding-left: 66px;
	margin-bottom: 28px;
	margin-top: 16px;
	line-height: 20px;
}

.news-summary #main h3, .knowledge-summary #main h3, .news-detail #main h3, .knowledge-detail #main h3 {
	font-size: 12px;
	background: url(../images/date.png) no-repeat 0 0;
	position: absolute;
	top: 1px;
	left: 8px;
	height: 50px;
	width: 50px;
	padding-left: 13px;
	padding-top: 5px;
	text-transform: uppercase;
	line-height:20px;
}

.news-detail #main h3, .knowledge-detail #main h3 {
	position: static;
	float:left;
}

.news-detail #main .wysiwyg, .knowledge-detail #main .wysiwyg {
	clear:left;
}

.news-summary #main .feature h3 {	
	top: -52px;
	left: -1px;
}

.news-summary #main h3 span, .knowledge-summary #main h3 span, .news-detail #main h3 span, .knowledge-detail #main h3 span {
	padding-left: 3px;
	color: #6D7278;
	font-weight: bold;
	font-size: 130%;
}

.news-summary #main ul li p, .knowledge-summary #main ul li p {
	padding: 12px 0 12px 0;
}

/* =================================================
Downloads
==================================================*/
ul.downloads{
	margin-left:0 !important;
	padding-left:0;
}
ul.downloads, ul.downloads li {
	width:100%;	
}

ul.downloads li {
		margin-bottom:8px;
		background:none !important;
		padding-left:0 !important;
		margin-left:0 !important;
	}

ul.downloads li a {
	display:block;
	width:100%;
	height:30px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
	background:url(../images/pdf.png) no-repeat 1% 5px #ececec;
}
ul.downloads li a:hover {
	background-color:#e1e1e1;
}
/*
ul.downloads li.odd a {
	background-color:#ececec;
}
*/
ul.downloads li a span {
	line-height:30px;
}
ul.downloads li a .size {
	margin-right: 10px;
	color:#4D4E4E;
	float:right;
}
ul.downloads li a .name {
	font-weight:bold;
	margin-left: 32px;
	color:#337FBD;
}

/* =================================================
FAQs
==================================================*/

.faq #main .question {
	padding: 5px 10px;
	margin-bottom: 10px;	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 13px;
	line-height: 20px;
	color: #666;	
	background-color:#ececec;
	background: url(../images/faq-q.png) no-repeat 3px 7px #ECECEC;
	padding-left: 24px;
}
.faq #main .question:hover {
	cursor: pointer;
	background-color: #E1E1E1;
}
.faq #main .question span {
	display:block;
	float:right;
	width:16px;
	height:16px;
	margin-top:2px;
	margin-left:5px;
	background: url(../images/faq-arrow2.png) no-repeat 0 0 transparent;
}
.faq #main .question span.open {
	background-position: 0 -16px;
}

.faq #main .answer {
	padding-left:10px;
	padding-bottom:15px;
	display:none;
	background: url(../images/faq-a.png) no-repeat 20px 0;
	padding-left: 40px;
}

.faq #main .answer p {
	padding-bottom: 14px;
}



/* =================================================
Contact / Request A Catalogue
==================================================*/

f h2 {
	color: #0082C8
}

 #map {
	float: right;
	/*margin-left:15px;*/
	margin-top: 30px;
}

fieldset#contact {
	width: 298px;
	border:none;
	margin:0;
	padding: 0 20px 20px 0;
}

fieldset#catalogue {
	width: 100%;
	border:none;
	margin:10px 0 0 0;
	padding: 20px 20px 20px 0;
}

fieldset#contact p, fieldset#catalogue p {
	margin: 20px 0;
	padding:0;
}

fieldset#contact label, fieldset#catalogue label {
	font-size:12px;
	line-height:20px;
	display:block;
	color: #0082c8;
	text-transform: uppercase;
	padding-bottom:12px;
	font-weight: 300;
}
fieldset#contact label.last, fieldset#catalogue label.last {
	padding-bottom:0;
}

#map h2{
	color: #0082C8;
}

fieldset#contact input, fieldset#catalogue input {
	border: 1px solid #ccc;
	padding:3px;
	color:#000;
	font-size:12px;
	width:90%;
	outline: none;
	border-radius: 12px;
	height: 30px;
	padding-left: 10px;
}

fieldset#catalogue input {
	width: 100%;
}

fieldset#contact input:focus, fieldset#catalogue input:focus {
	background: #fafafa;
}

fieldset#contact label em img, fieldset#catalogue label em img {
	vertical-align: baseline;
}

fieldset#catalogue input.checkbox {
	width:auto;
	margin:0;
	vertical-align: middle;
	padding:0;
	height:auto;
	display: inline;
	margin-right: 2px;
}

fieldset#catalogue .checklabel {
	line-height: 35px
}

fieldset#contact textarea, fieldset#catalogue textarea {
	border: 1px solid #ccc;
	padding:6px;
	color:#000;
	width:100%;
	height:100px;
	border-radius: 10px;
	outline: none;
	padding-right: 10px;
	max-width:98%;
	max-height:100px;
}

fieldset#contact textarea:focus, fieldset#catalogue textarea:focus {
	background: #fafafa;
}

fieldset#catalogue .labelgroup label,
fieldset#contact .labelgroup label  {
	float:left;
	width:47%;
}
fieldset#catalogue .labelgroup select, fieldset#catalogue .labelgroup input {
	display:block;
	width:50%;	
}
fieldset#contact .labelgroup select, fieldset#contact .labelgroup input  {
	display:block;
	width:80%;	
}
fieldset#catalogue .labelgroup select,
fieldset#contact .labelgroup select {
	height:30px;
	padding:5px;
	border:1px solid #ccc;
	font-size:12px;
	border-radius:12px;
	outline:0;
}
fieldset#catalogue label.nopad {
	padding:0;
}
fieldset#catalogue .checkgroup {
	margin-bottom:14px;
}
fieldset#catalogue .checkgroup label {
	padding:0;
	float:left;
	width:48%;
}


fieldset#contact button.submit, fieldset#catalogue button.submit {
	float:right;
	margin-right:20px;
}

fieldset#catalogue button.submit {
	margin-right: 35px;
}

fieldset#contact label .invalid, fieldset#catalogue label .invalid {
	background: #fff9f9;
}

fieldset#contact label.invalid, fieldset#catalogue label.invalid {
	color: #cb685b;
}

/* VALID */

fieldset#contact label .valid, fieldset#catalogue label .valid {
	background: #f6fcf2;
}

fieldset#contact label.valid, fieldset#catalogue label.valid {
	color: #74bf5f;
}





/* =================================================
Grid
==================================================*/
.grid { margin: 20px -36px 10px 0; }
.grid .grid-item-image { width:190px; height:140px; overflow:hidden; margin-bottom:10px; background:#fff; }
.grid .grid-item-image img { width:190px; display:none;}
.grid li { width: 190px; height: 230px; padding:7px 7px 10px 7px; float: left; text-align: center; margin-right: 36px; background: url(../images/product-frame-sm.png) no-repeat 0 0;}
.brands .grid .grid-item-image { height: 100px; }
.brands .grid li { background: url(../images/product-frame-sm-resized.png) no-repeat 0 0; height:136px; }
.brand .grid li { height:200px; }
.grid li a img { display:block; margin: auto auto; }
.grid li h2, .grid li h2 a { color: #337fbd; font-size: 12px; line-height:20px; }
.grid li p { color: #4d4e4e; font-size: 11px; line-height: 14px; padding: 0; }
.grid li a:hover h2 { color: #265f8c; }
/*
.grid li a:hover .grid-item-image {
	opacity:0.55;
	filter:alpha(opacity=55); /* For IE8 and earlier */
}
*/
.brand .grid { margin-top:0; }


/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
Brand detail - Emerson
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.brand #main div.logo {
	width:190px;
	height:140px;
	padding: 7px 7px 8px 7px;
	float: right;
	margin-left: 20px;
	margin-bottom: 20px;
	background:url(../images/product-frame-sm.png) no-repeat 0 0 transparent;
}

.brand #main div.logo .wrap {
	width:190px;
	height:140px;
}

.brand #main div.logo img {
	display:none;
}

.brand #main .hr {
	clear: both;
}



/*:::::::::::::::::::::::::::::::::::::::::::::::::::
Locate a Reseller
:::::::::::::::::::::::::::::::::::::::::::::::::::*/
table.reseller {
	width:100%;
}

table.reseller th, table.reseller td {
	padding:10px;
	text-align:left;
	vertical-align:middle;
}

table.reseller th {
	background:#337FBD;
	color:#fff;
	font-size:13px;
	line-height:13px;
}

table.reseller td {
	background: #f8f8f8;
	font-size:11px;
	line-height:11px;

}
table.reseller tbody tr,
table.reseller tbody td {
	cursor:pointer;
}

table.reseller tbody tr:nth-child(even) td {
	background: #ececec;
}
table.reseller tbody tr.even td {
	background: #ececec;
}

table.reseller tbody tr:hover td {
	background:#67a3d4;
	color:#fff;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::
Downloads
:::::::::::::::::::::::::::::::::::::::::::::::::::*/
ul.downloads {
	list-style: none;
	margin-left: 0;
	margin-top: 14px;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::
Sitemap
:::::::::::::::::::::::::::::::::::::::::::::::::::*/
#sitemap-wrap {
	-moz-column-count: 3;
	-moz-column-gap: 20px;
	-webkit-column-count: 3;
	-webkit-column-gap: 20px;
	column-count: 3;
	column-gap: 20px;
}


/*:::::::::::::::::::::::::::::::::::::::::::::::::::
WYSIWYG
:::::::::::::::::::::::::::::::::::::::::::::::::::*/
.wysiwyg ul li { 
	background: url(../images/bullet-blue.png) no-repeat 2px 9px transparent; 
	line-height: 25px;
	padding-left: 18px;
}

.wysiwyg ul {
	margin-left: 14px;
}

.wysiwyg img {
	padding: 1px;
	border: 4px solid #E3E3E3;
	box-shadow: 0px 2px 4px #888;
	background-color: #E9E9E9;
}

/*::::::::::::::::::::
RSS & Print Icons
::::::::::::::::::::*/
#main h1 a.print {
	float: right;
	font-size: 60%;
	text-transform: uppercase;
}

#main h1 a.print img {
	margin-right: 4px;
}


/*/
/*====================
/* Nyanlin
/*====================
/*/
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.hdbrand{
	margin-top: 20px;

}
.hdbrand li{
    border: 5px solid #f0f0f1;
}
.hdbrand li:hover{
	background-color: #000;
}
.hdbrand li:hover img{
	opacity: 0.55;
}
.marginbox0 .box{
	margin: 0;
}
.box {
	position: relative;
    background:#FFF;
    margin: 0 0 40px 0;

}
.shadowstyle6 img{
	width: 100%;
}
/*==================================================
 * Effect 6
 * ===============================================*/
.shadowstyle6
{
    position:relative;
    /*background: url(../images/product-frame-lg.png) no-repeat 0 0;*/
    background-color: #f0f0f1;
    background-size: 100% 100%;

    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 0px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 0px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 0px rgba(0, 0, 0, 0.1) inset;
}
.shadowstyle6:before, .shadowstyle6:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.shadowstyle6:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.detaillogo{
	float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}
.grid-item-image {
    width: 100%;
    height: 140px;
    overflow: hidden;
    margin-bottom: 0px;
    background: #fff;
}
.grid-item-image img {
    width: 100%;
    display: none;
}
.hdbrand h2, .hdbrand h2 a {
	text-align: center;
    color: #337fbd;
    font-size: 12px;
    line-height: 20px;
    margin:10px 0 0px 0;
}
/*.hdbrand .box{
	margin: 0;
}*/
.sg-product-img{
	border: 5px solid #f0f0f1;
	background-color: #000;
}
.sg-product-img .grid-item-image {
	height: 164px;
	margin-bottom: 0px;
}
#main a.send-an-enquiry { width: 130px; background-image: url(../images/btn-send-an-enquiry.png); }
#main a.where-to-buy { margin: 0 9px; width: 114px; background-image: url(../images/btn-where-to-buy.png); }
#main a.download-brochure{ width: 158px; background-image: url(../images/btn-download-brochure.png); }

#main div.product-description a.orange { float: right; margin-top: 0px; }
#main div.extra-buttons { height: 50px; margin-bottom: 30px; line-height: 50px; text-transform: uppercase; }
.extra-buttons a.share {float: right; padding-left: 28px; }
.extra-buttons a.print {float: right; }
.extra-buttons a.share img,.extra-buttons a.print img{margin-right: 4px;}

/*/
/*====================
/* New tabs
/*====================
/*/
.responsive-tabs__list__item{
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 0;
    border:none;
    display: inline-block;
    height: 29px;
    width: 139px;
    margin: 0 -11px 0 0;
}
.responsive-tabs__list{
	padding-bottom: 0;
}
.responsive-tabs__list li:first-child {
	margin-left: 10px;
}
.responsive-tabs__panel,
.responsive-tabs__panel--active,
.responsive-tabs__panel--closed-accordion-only{
	padding:20px;
	height: 250px;
	overflow-x: auto !important;
    overflow-y: auto !important;
}
.responsive-tabs__panel  table,
.responsive-tabs__panel--active  table,
.responsive-tabs__panel--closed-accordion-only table{
	overflow-x: auto;
    overflow-y: auto;	
}
.responsive-tabs__list li{
	background: url(../images/product-tab.png) no-repeat 0 0;
}
.responsive-tabs__list li:hover{
    background-position: 0 -30px;
}
.responsive-tabs__list li.responsive-tabs__list__item--active, .responsive-tabs__list li.responsive-tabs__list__item--active:hover{
	border-bottom-color: #fff;
	z-index: 9999;
	position: relative;
	top: 1px;
	background: url(../images/product-tab.png) no-repeat 0 0;
	background-position: 0 -60px;
}
.responsive-tabs__heading:focus, .responsive-tabs__list__item:focus{
	outline: none;
}
.responsive-tabs__list__item:hover{
	background: url(../images/product-tab.png) no-repeat 0 0;
}

.responsive-tabs__panel ul li ,
.responsive-tabs__panel--active ul li ,
.responsive-tabs__panel--closed-accordion-only ul li {
    background: url(../images/bullet-blue.png) no-repeat 2px 9px transparent;
    line-height: 25px;
    padding-left: 18px;
}

.responsive-tabs__panel  table td,.responsive-tabs__panel  table th,
.responsive-tabs__panel--active  table td,.responsive-tabs__panel--active  table th,
.responsive-tabs__panel--closed-accordion-only table td,.responsive-tabs__panel--closed-accordion-only table th{

border-bottom:1px solid #cac9c9;
	border-left:1px solid #ddd;
	margin:0;
	padding:4px 2px;
}
.responsive-tabs__panel  table a{
	color: #337fbd;
	text-decoration: none;
}
.responsive-tabs__panel  table tr:nth-child(2) td { background: #ffffff;}
.responsive-tabs__panel  table tr td { background: #F8F8F8;}
.responsive-tabs__panel  table tr:hover td{
    background: #67a3d4;
    color: #fff;
}

.responsive-tabs__panel  table tr.even td { background: #ececec;}
.responsive-tabs__panel  table tr:nth-child(1) td { background: #ffffff;}
.responsive-tabs__panel  table tr:nth-child(2) td { background: #ffffff;}
.responsive-tabs__panel  table tr:hover td { background:#67a3d4; color:#fff; }
.responsive-tabs__panel  table tr:hover td a { color: #fff; text-decoration:underline; }
.responsive-tabs__panel  table tr.thead td, .responsive-tabs__panel  table th, .responsive-tabs__panel  table thead td, .responsive-tabs__panel  table th {
	background:#67a3d4 !important;
	color:#fff !important;
	font-size:13px !important;
	line-height:13px !important;
	font-weight:bold !important;
}
.responsive-tabs__heading{
	background: #fff;
	transition: 0.5s;
}
.responsive-tabs__heading--active:after{
    border-bottom: 10px solid #fff;
}
.responsive-tabs__heading--active{
    border: 1px solid #0082c8;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.4);
	background: #0082c8;	
	color: #fff;
	transition: 0.5s;
}
.responsive-tabs__heading:hover, .responsive-tabs__heading--active:hover{
    border: 1px solid #0082c8;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.4);
	background: #0082c8;	
	color: #fff;
	transition: 0.5s;
}
.responsive-tabs__heading:hover:after{
	border-top: 10px solid #fff;
}
.responsive-tabs__heading--active:hover:after{
	border-top:0px;
}

/*/
/*====================
/* tabs
/*====================
/*/
/*.resp-tabs-list li{
	font-weight: 100;
	padding:10px 15px;
}
.resp-tab-active{
	border: none !important;
	background-position: 0 -60px !important;
    height: 30px !important;
    z-index: 1;
    border-bottom: 1px solid #fff !important;
    color: #337fbd;
}

.resp-tab-content{
	border-top: 1px solid #c1c1c1 !important;
	border-left: none;
	border-right: none;
	border-bottom: none;
}
#content div.tabs-nav{
	border-bottom: none;
}
.resp-tab-content{
padding: 20px 10px !important;
}
.resp-tabs-container {
    height: 300px;
    overflow-y: auto;

}
.resp-tabs-container ul{
	height: 100% !important;
    width: 100% !important;
    float: none !important; 
    position: relative;
    text-align: left;
    height: 400px;
}
.resp-tabs-container ul li{
    position: relative;
    float: none !important;
    width: auto !important;
    height: auto !important;
    margin: 0 !important;
    text-align: left !important;
    
    text-transform: uppercase;
    font-size: 11px;
    /*list-style-type: disc;*/ 
    background: url(../images/bullet-blue.png) no-repeat 2px 9px transparent !important;
    line-height: 25px;
    padding-left: 18px;
}
.resp-tabs-container table{
	width: 100%;
}
.resp-tabs-container table td,.resp-tabs-container table th{
	border-bottom:1px solid #cac9c9;
	border-left:1px solid #ddd;
	margin:0;
	padding:4px 2px;

}
.resp-tabs-container table tr:nth-child(2) td { background: #ffffff;}

.resp-tabs-container table tr td { background: #F8F8F8;}
.resp-tabs-container table tr:hover td{
    background: #67a3d4;
    color: #fff;
}

.resp-tabs-container table tr.even td { background: #ececec;}
.resp-tabs-container table tr:nth-child(1) td { background: #ffffff;}
.resp-tabs-container table tr:nth-child(2) td { background: #ffffff;}
.resp-tabs-container table tr:hover td { background:#67a3d4; color:#fff; }
.resp-tabs-container table tr:hover td a { color: #fff; text-decoration:underline; }
.resp-tabs-container table tr.thead td, .resp-tabs-container table th, .resp-tabs-container table thead td, .resp-tabs-container table th {
	background:#67a3d4 !important;
	color:#fff !important;
	font-size:13px !important;
	line-height:13px !important;
	font-weight:bold !important;
}
*/




.dimensionimg img{
	padding: 1px;
    border: 4px solid #E3E3E3;
    box-shadow: 0px 2px 4px #888;
    background-color: #E9E9E9;
}

.othprodwrap{
	margin: 20px 0px 10px 0;
}
.othprodwrap .othborder{
    border: 5px solid #f0f0f1;
}
.othprodwrap .othborder:hover{
	background-color: #000;
}
.othprodwrap .othborder:hover img{
	opacity: 0.55;
}
.othprodwrap .box{
	margin: 0;
}
.othprodwrap h2, .othprodwrap h2 a {
    color: #337fbd;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 0;
}
.othprodwrap h2:hover{
	color: #265f8c;
}


/* =================================================
FAQs
==================================================*/

.faq .question {
	padding: 5px 10px;
	margin-bottom: 10px;	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 13px;
	line-height: 20px;
	color: #666;	
	background-color:#ececec;
	background: url(../images/faq-q.png) no-repeat 3px 7px #ECECEC;
	padding-left: 24px;
}
.faq .question:hover {
	cursor: pointer;
	background-color: #E1E1E1;
}
.faq .question span {
	display:block;
	float:right;
	width:16px;
	height:16px;
	margin-top:2px;
	margin-left:5px;
	background: url(../images/faq-arrow2.png) no-repeat 0 0 transparent;
}
.faq .question span.open {
	background-position: 0 -16px;
}

.faq .answer {
	padding-left:10px;
	padding-bottom:15px;
	display:none;
	background: url(../images/faq-a.png) no-repeat 20px 0;
	padding-left: 40px;
}

.faq .answer p {
	padding-bottom: 14px;
}
.hdwidth{
	width: 75%;
	padding-right: 20px;
}
#home-slider-holder{
	background-size: 100%;
}
.news-detail #main h3{
	margin:0 10px 10px 0;
}
.news-detail #main .othernews ul li a {
	background: url(../images/news-arrow.png) no-repeat 0 0px;
	padding-left: 15px;
}
/*
#header-middle ul.newmenu div.dropdown .arrow {
	    width: 100%;
	    height: 25px;
	    position: absolute;
	    top: -19px;
	    left: 0px;
	    background: url(../images/dropdown-arrow.png) no-repeat center 0;
	}
#header-middle ul.newmenu li.brands div.dropdown ul.list,#header-middle ul.newmenu li.brands div.dropdown ul.list li a {
    width: 130px;
}
#header-middle ul.newmenu div.dropdown ul.list {
    display: block;
}
#header-middle ul.newmenu div.dropdown ul.list li a {
    display: block;
    line-height: 20px;
    height: 20px;
    padding: 1px 0;
    text-decoration: none;
    text-align: center;
    font-size: 120%;
    font-weight: normal;
}
#header-middle ul.newmenu div.dropdown ul.list li a:hover {
    background-color: #fff;
    color: #337fbd;
}*/


nav.navbar.bootsnav{
	background: #ececec;
	border-bottom: none;
	margin: 35px 0 0px 0;
}
.headermd { background: #ececec;min-height: 150px; }

nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
	background: #ececec;
	z-index: 12;
	border:5px solid #fff;
	box-shadow: 0 0 2px #000;
}
nav.bootsnav .megamenu-content{
	/*width: 80%;*/
}
nav.navbar.bootsnav ul.dropdown-menu.megamenu-content > li{
	padding: 0;
}
nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
	display: none;
}
.bootsnav .brandsid{
	left: 55% !important;
	width: 80px !important;
}
.bootsnav .spnsid{
	left: 70% !important;
}
.bootsnav .abtid{
	left: 83% !important;
}

nav.navbar.bootsnav ul.nav > li > a{
	padding: 15px;
	font-size: 12px;
}
nav.bootsnav li.on a.dropdown-toggle{
	color: #337fbd;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a{
	padding: 0;
}
nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a{
	display: block;
    line-height: 20px;
    height: 20px;
    padding: 1px 0;
    text-align: center;
    font-size: 10.8px;
    font-weight: normal;

}
nav.bootsnav .dropdown.on:hover a{
	color: #337FBD;	
}
.ulmargintop40{
	margin-top: 20px;
}
.homevisible{
    position: absolute;
    visibility: hidden;
    top: 8px;
    left: 287px;
}
.bootsnav a.navbar-brand .logo{
	position: relative;
}
.bootsnav a.navbar-brand:hover + .homevisible{
	
	visibility: visible;
/*    background: url(/images/site/home.png) no-repeat 271px 0;
    position: absolute;*/
}
.megamenu-content .megamenuwrap{
	padding:10px;
	border:1px solid #e3e2e2;
	height: 200px;
}
.megamenu-content .megamenuwrap:hover{
	background:#fff;
}
.megamenu-content .megamenuwrap .menuborder{
	width: 100%;
	height: 100px;
	border:2px solid #ccc;
}
.megamenu-content .megamenuwrap img{
	display: none;
}
.megamenu-content .megamenuwrap h3{
    font-size: 10px;
    color: #4D4E4E;
    padding: 5px 0;
    font-weight: bold;
    text-transform: uppercase;
}
.megamenu-content .megamenuwrap p{
	color: #4D4E4E;
    font-size: 9px;
	font-weight: normal;
}
.bootsnav h1{
    float: right;
    color: #337fbd;
    font-size: 23px;
     
}
nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a{
	text-decoration: none;

}
nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a:hover{
	background: #fff;
}
.nopadding{
	padding:0 !important;
}
.megamenu-fw .arrow {
    width: 100%;
    height: 25px;
    position: absolute;
    top: -19px;
    left: 0px;
    background: url(../images/dropdown-arrow.png) no-repeat center 0;
}
nav.navbar.bootsnav .navbar-toggle{
	background: #ee7c22;
	width: 30px;
	height: 30px;
}
nav.navbar.bootsnav .navbar-toggle i{
	padding-top: 6px;
	color: #fff;
}
nav.navbar.bootsnav.no-full .navbar-collapse{
	margin-top: 30px;
}



/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license

Copyright (c) 2013 Daniel Eden

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}



@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}
.marginbot20{
	margin-bottom: 20px;
}

@media (max-width: 991px){
	#header-top ul{
		width: 365px;
	}
	.mbcenter{
		text-align: center;
	}
	.mbcenter ul{
		float: none !important;
		margin:0 auto;
	}
	.bootsnav .brandsid, .bootsnav .spnsid, .bootsnav .abtid{
		width: 100% !important;
		left: 0 !important;
	}
	.megamenu-fw .arrow{
		display: none;
	}
	nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a{
		line-height: 40px;
		height: 40px;
	}
}



@media (max-width: 768px){
	ul.resp-tabs-list{
		display: none;
	}
	h2.resp-accordion {
    font-size: 13px;
    border: 1px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    margin: 0px;
    padding: 10px 15px;
}
	
	.navbar-toggle{
		background-color: #ef8021;
	}
	#footer-top div.sign-up input.search-bx{
		display: inline;
	}
	#footer-top .support {
	    width: 50%;
	    margin-top: 30px;
	}
	#footer-top .contact {
		margin-top: 30px;
	    width: 50%;
	}
	#footer-top .sign-up{
		margin-top: 30px;
		text-align: center;
		width: 100%;
	}
	#footer-top .hydraulic-brands, #footer-top .hydraulic-categories{
		width: 50%;
	}
	body.home #content div.latest-news{
		height: 160px;
	}
	body.home #content div.brands-we-sell{
		background: url(../images/bg-brands.png) no-repeat center;
	}
	body.home #content #top-links .boxwrap{
		margin-bottom: 15px;
	}
	#header-middle ul.menu{
		/*display: none;*/
		margin:0;
	}
	#header-middle h1.contact{
		position: relative;
		display: inline-block;
		right: 0;
		width: 100%;
		top: 0;
		margin-top: 10px;
		text-align: center;
	}
	#header-middle{
		height: 200px;
	}
	#header-middle a.logo{
	    position: relative;
	    text-align: center;
	    width: 100%;
	    top: 0;
	    margin-top: 40px;
	    display: inline-block;
	}
	#header-middle a.logo:hover {
    	background: url(../images/home.png) no-repeat 468px 0;
	}
	
	
	#header-top a.login{
		width: 50%;
	}
	#header-top form{
		text-align: right;
		width: 50%;
		padding-right: 3px;
	}
	#header-container{
		background-position-y: 50px;
	}
}

@media (max-width: 640px){
.bootsnav h1{
	margin-top: -80px;
}
#home-slider-holder{
    padding: 24px 0 20px 0;
}
.wysiwyg table tr td img{
	display: none !important;
}
.wysiwyg table{
	width: 100%;
}
.hdwidth{
	width: 100%;
}
#map{
	width: 100%;
}
}