<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Tags` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for featured images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing advanced custom fields...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Introducing Online Ordering!`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Introducing Online Ordering!`...</div>
<div class="progress-msg">Duplicate post wasn't founded with unique key `137-THW`...</div>
<div class="progress-msg"><b>CREATING</b> `Introducing Online Ordering!` `Post`</div>
<div class="progress-msg">Associate post `Introducing Online Ordering!` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Introducing Online Ordering!` `Post` (ID: 368)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Have you heard about the great benefits of THW Plus?`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Have you heard about the great benefits of THW Plus?`...</div>
<div class="progress-msg">Duplicate post wasn't founded with unique key `140-THW`...</div>
<div class="progress-msg"><b>CREATING</b> `Have you heard about the great benefits of THW Plus?` `Post`</div>
<div class="progress-msg">Associate post `Have you heard about the great benefits of THW Plus?` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Have you heard about the great benefits of THW Plus?` `Post` (ID: 369)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Congratulations to Eaton Corporation on its 100 Year Anniversary!`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Congratulations to Eaton Corporation on its 100 Year Anniversary!`...</div>
<div class="progress-msg">Duplicate post wasn't founded with unique key `141-THW`...</div>
<div class="progress-msg"><b>CREATING</b> `Congratulations to Eaton Corporation on its 100 Year Anniversary!` `Post`</div>
<div class="progress-msg">Associate post `Congratulations to Eaton Corporation on its 100 Year Anniversary!` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Congratulations to Eaton Corporation on its 100 Year Anniversary!` `Post` (ID: 370)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `MP Filtri – World Leading Manufacturer of Hydraulic Filters`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `MP Filtri – World Leading Manufacturer of Hydraulic Filters`...</div>
<div class="progress-msg">Duplicate post wasn't founded with unique key `232-THW`...</div>
<div class="progress-msg"><b>CREATING</b> `MP Filtri – World Leading Manufacturer of Hydraulic Filters` `Post`</div>
<div class="progress-msg">Associate post `MP Filtri – World Leading Manufacturer of Hydraulic Filters` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `MP Filtri – World Leading Manufacturer of Hydraulic Filters` `Post` (ID: 371)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `The Hydraulic Warehouse – Distributor of Char-Lynn Motors`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `The Hydraulic Warehouse – Distributor of Char-Lynn Motors`...</div>
<div class="progress-msg">Duplicate post wasn't founded with unique key `233-THW`...</div>
<div class="progress-msg"><b>CREATING</b> `The Hydraulic Warehouse – Distributor of Char-Lynn Motors` `Post`</div>
<div class="progress-msg">Associate post `The Hydraulic Warehouse – Distributor of Char-Lynn Motors` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `The Hydraulic Warehouse – Distributor of Char-Lynn Motors` `Post` (ID: 372)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `THW Hosts MP Filtri Contamination Control Seminar`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `THW Hosts MP Filtri Contamination Control Seminar`...</div>
<div class="progress-msg">Duplicate post wasn't founded with unique key `244-THW`...</div>
<div class="progress-msg"><b>CREATING</b> `THW Hosts MP Filtri Contamination Control Seminar` `Post`</div>
<div class="progress-msg">Associate post `THW Hosts MP Filtri Contamination Control Seminar` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `THW Hosts MP Filtri Contamination Control Seminar` `Post` (ID: 373)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `The Hydraulic Warehouse hosts MP Filtri Seminar – 8th October 2012`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `The Hydraulic Warehouse hosts MP Filtri Seminar – 8th October 2012`...</div>
<div class="progress-msg">Duplicate post wasn't founded with unique key `245-THW`...</div>
<div class="progress-msg"><b>CREATING</b> `The Hydraulic Warehouse hosts MP Filtri Seminar – 8th October 2012` `Post`</div>
<div class="progress-msg">Associate post `The Hydraulic Warehouse hosts MP Filtri Seminar – 8th October 2012` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `The Hydraulic Warehouse hosts MP Filtri Seminar – 8th October 2012` `Post` (ID: 374)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Seasons Greetings from The Hydraulic Warehouse`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Seasons Greetings from The Hydraulic Warehouse`...</div>
<div class="progress-msg">Duplicate post wasn't founded with unique key `251-THW`...</div>
<div class="progress-msg"><b>CREATING</b> `Seasons Greetings from The Hydraulic Warehouse` `Post`</div>
<div class="progress-msg">Associate post `Seasons Greetings from The Hydraulic Warehouse` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Seasons Greetings from The Hydraulic Warehouse` `Post` (ID: 375)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Australia's Largest Distributor of Char-Lynn Motors`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Australia's Largest Distributor of Char-Lynn Motors`...</div>
<div class="progress-msg">Duplicate post wasn't founded with unique key `253-THW`...</div>
<div class="progress-msg"><b>CREATING</b> `Australia's Largest Distributor of Char-Lynn Motors` `Post`</div>
<div class="progress-msg">Associate post `Australia's Largest Distributor of Char-Lynn Motors` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Australia's Largest Distributor of Char-Lynn Motors` `Post` (ID: 376)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Extended Stocked Range of MP Filtri Products from THW`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Extended Stocked Range of MP Filtri Products from THW`...</div>
<div class="progress-msg">Duplicate post wasn't founded with unique key `254-THW`...</div>
<div class="progress-msg"><b>CREATING</b> `Extended Stocked Range of MP Filtri Products from THW` `Post`</div>
<div class="progress-msg">Associate post `Extended Stocked Range of MP Filtri Products from THW` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Extended Stocked Range of MP Filtri Products from THW` `Post` (ID: 377)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Vickers Cetop 3 and Cetop 5 solenoid valves available from The Hydraulic Warehouse!`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Vickers Cetop 3 and Cetop 5 solenoid valves available from The Hydraulic Warehouse!`...</div>
<div class="progress-msg">Duplicate post wasn't founded with unique key `255-THW`...</div>
<div class="progress-msg"><b>CREATING</b> `Vickers Cetop 3 and Cetop 5 solenoid valves available from The Hydraulic Warehouse!` `Post`</div>
<div class="progress-msg">Associate post `Vickers Cetop 3 and Cetop 5 solenoid valves available from The Hydraulic Warehouse!` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Vickers Cetop 3 and Cetop 5 solenoid valves available from The Hydraulic Warehouse!` `Post` (ID: 378)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #12</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Hydraforce Control Valves available from The Hydraulic Warehouse`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Hydraforce Control Valves available from The Hydraulic Warehouse`...</div>
<div class="progress-msg">Duplicate post wasn't founded with unique key `256-THW`...</div>
<div class="progress-msg"><b>CREATING</b> `Hydraforce Control Valves available from The Hydraulic Warehouse` `Post`</div>
<div class="progress-msg">Associate post `Hydraforce Control Valves available from The Hydraulic Warehouse` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Hydraforce Control Valves available from The Hydraulic Warehouse` `Post` (ID: 379)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #13</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `New stocked range of THW Bell Housings and Couplings`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `New stocked range of THW Bell Housings and Couplings`...</div>
<div class="progress-msg">Duplicate post wasn't founded with unique key `257-THW`...</div>
<div class="progress-msg"><b>CREATING</b> `New stocked range of THW Bell Housings and Couplings` `Post`</div>
<div class="progress-msg">Associate post `New stocked range of THW Bell Housings and Couplings` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `New stocked range of THW Bell Housings and Couplings` `Post` (ID: 380)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #14</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Bosch Rexroth Oil Control Valves available from The Hydraulic Warehouse`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Bosch Rexroth Oil Control Valves available from The Hydraulic Warehouse`...</div>
<div class="progress-msg">Duplicate post wasn't founded with unique key `258-THW`...</div>
<div class="progress-msg"><b>CREATING</b> `Bosch Rexroth Oil Control Valves available from The Hydraulic Warehouse` `Post`</div>
<div class="progress-msg">Associate post `Bosch Rexroth Oil Control Valves available from The Hydraulic Warehouse` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Bosch Rexroth Oil Control Valves available from The Hydraulic Warehouse` `Post` (ID: 381)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #15</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Reduce Hydraulic System Failure and Downtime`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Reduce Hydraulic System Failure and Downtime`...</div>
<div class="progress-msg">Duplicate post wasn't founded with unique key `259-THW`...</div>
<div class="progress-msg"><b>CREATING</b> `Reduce Hydraulic System Failure and Downtime` `Post`</div>
<div class="progress-msg">Associate post `Reduce Hydraulic System Failure and Downtime` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Reduce Hydraulic System Failure and Downtime` `Post` (ID: 382)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #16</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `THW Monoblock Valves available from The Hydraulic Warehouse`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `THW Monoblock Valves available from The Hydraulic Warehouse`...</div>
<div class="progress-msg">Duplicate post wasn't founded with unique key `260-THW`...</div>
<div class="progress-msg"><b>CREATING</b> `THW Monoblock Valves available from The Hydraulic Warehouse` `Post`</div>
<div class="progress-msg">Associate post `THW Monoblock Valves available from The Hydraulic Warehouse` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `THW Monoblock Valves available from The Hydraulic Warehouse` `Post` (ID: 383)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #17</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Introducing THW Gear Pumps!`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Introducing THW Gear Pumps!`...</div>
<div class="progress-msg">Duplicate post wasn't founded with unique key `261-THW`...</div>
<div class="progress-msg"><b>CREATING</b> `Introducing THW Gear Pumps!` `Post`</div>
<div class="progress-msg">Associate post `Introducing THW Gear Pumps!` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Introducing THW Gear Pumps!` `Post` (ID: 384)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #18</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `New Char-Lynn metric standard motors range now available from The Hydraulic Warehouse`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `New Char-Lynn metric standard motors range now available from The Hydraulic Warehouse`...</div>
<div class="progress-msg">Duplicate post wasn't founded with unique key `263-THW`...</div>
<div class="progress-msg"><b>CREATING</b> `New Char-Lynn metric standard motors range now available from The Hydraulic Warehouse` `Post`</div>
<div class="progress-msg">Associate post `New Char-Lynn metric standard motors range now available from The Hydraulic Warehouse` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `New Char-Lynn metric standard motors range now available from The Hydraulic Warehouse` `Post` (ID: 385)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #19</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `HydraForce Cartridge Valves available from The Hydraulic Warehouse`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `HydraForce Cartridge Valves available from The Hydraulic Warehouse`...</div>
<div class="progress-msg">Duplicate post wasn't founded with unique key `264-THW`...</div>
<div class="progress-msg"><b>CREATING</b> `HydraForce Cartridge Valves available from The Hydraulic Warehouse` `Post`</div>
<div class="progress-msg">Associate post `HydraForce Cartridge Valves available from The Hydraulic Warehouse` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `HydraForce Cartridge Valves available from The Hydraulic Warehouse` `Post` (ID: 386)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #20</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Seasons Greetings`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Seasons Greetings`...</div>
<div class="progress-msg">Duplicate post wasn't founded with unique key `295-THW`...</div>
<div class="progress-msg"><b>CREATING</b> `Seasons Greetings` `Post`</div>
<div class="progress-msg">Associate post `Seasons Greetings` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Seasons Greetings` `Post` (ID: 387)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #21</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `The facts about Hydraulic Fluid and Hydraulic System Failure`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `The facts about Hydraulic Fluid and Hydraulic System Failure`...</div>
<div class="progress-msg">Duplicate post wasn't founded with unique key `303-THW`...</div>
<div class="progress-msg"><b>CREATING</b> `The facts about Hydraulic Fluid and Hydraulic System Failure` `Post`</div>
<div class="progress-msg">Associate post `The facts about Hydraulic Fluid and Hydraulic System Failure` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `The facts about Hydraulic Fluid and Hydraulic System Failure` `Post` (ID: 388)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #22</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Fluid Press Valves Now Available`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Fluid Press Valves Now Available`...</div>
<div class="progress-msg">Duplicate post wasn't founded with unique key `313-THW`...</div>
<div class="progress-msg"><b>CREATING</b> `Fluid Press Valves Now Available` `Post`</div>
<div class="progress-msg">Associate post `Fluid Press Valves Now Available` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Fluid Press Valves Now Available` `Post` (ID: 389)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #23</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `ANNOUNCEMENT: FREE SHIPPING* PROMOTION, NO MIN. SPEND`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `ANNOUNCEMENT: FREE SHIPPING* PROMOTION, NO MIN. SPEND`...</div>
<div class="progress-msg">Duplicate post wasn't founded with unique key `315-THW`...</div>
<div class="progress-msg"><b>CREATING</b> `ANNOUNCEMENT: FREE SHIPPING* PROMOTION, NO MIN. SPEND` `Post`</div>
<div class="progress-msg">Associate post `ANNOUNCEMENT: FREE SHIPPING* PROMOTION, NO MIN. SPEND` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `ANNOUNCEMENT: FREE SHIPPING* PROMOTION, NO MIN. SPEND` `Post` (ID: 390)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #24</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `THW Standard Hydraulic Power Units Now Available`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `THW Standard Hydraulic Power Units Now Available`...</div>
<div class="progress-msg">Duplicate post wasn't founded with unique key `317-THW`...</div>
<div class="progress-msg"><b>CREATING</b> `THW Standard Hydraulic Power Units Now Available` `Post`</div>
<div class="progress-msg">Associate post `THW Standard Hydraulic Power Units Now Available` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `THW Standard Hydraulic Power Units Now Available` `Post` (ID: 391)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #25</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Bulk Discounts on Char-Lynn Seal Kits. Limited Time Only!`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Bulk Discounts on Char-Lynn Seal Kits. Limited Time Only!`...</div>
<div class="progress-msg">Duplicate post wasn't founded with unique key `318-THW`...</div>
<div class="progress-msg"><b>CREATING</b> `Bulk Discounts on Char-Lynn Seal Kits. Limited Time Only!` `Post`</div>
<div class="progress-msg">Associate post `Bulk Discounts on Char-Lynn Seal Kits. Limited Time Only!` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Bulk Discounts on Char-Lynn Seal Kits. Limited Time Only!` `Post` (ID: 392)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #26</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Cavitation – What it is and how to avoid it`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Cavitation – What it is and how to avoid it`...</div>
<div class="progress-msg">Duplicate post wasn't founded with unique key `320-THW`...</div>
<div class="progress-msg"><b>CREATING</b> `Cavitation – What it is and how to avoid it` `Post`</div>
<div class="progress-msg">Associate post `Cavitation – What it is and how to avoid it` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Cavitation – What it is and how to avoid it` `Post` (ID: 393)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
<div class="progress-msg">Done</div>
