<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Brands` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product Categories` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for featured images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `2000 Series Char-Lynn Motors`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `2000 Series Char-Lynn Motors`...</div>
<div class="progress-msg">Duplicate post was founded for post 2000 Series Char-Lynn Motors with unique key `49-THW`...</div>
<div class="progress-msg">Deleting attachments for `2000 Series Char-Lynn Motors`</div>
<div class="progress-msg">Deleting images for `2000 Series Char-Lynn Motors`</div>
<div class="progress-msg"><b>UPDATING</b> `2000 Series Char-Lynn Motors` `Product`</div>
<div class="progress-msg">Associate post `2000 Series Char-Lynn Motors` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- Custom field tech_specs has been deleted for `2000 Series Char-Lynn Motors` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field features has been deleted for `2000 Series Char-Lynn Motors` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field dimensions has been deleted for `2000 Series Char-Lynn Motors` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field applications has been deleted for `2000 Series Char-Lynn Motors` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _wp_trash_meta_status has been deleted for `2000 Series Char-Lynn Motors` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _wp_trash_meta_time has been deleted for `2000 Series Char-Lynn Motors` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _wp_old_slug has been deleted for `2000 Series Char-Lynn Motors` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field `tech_specs` has been updated with value `TECH_SPECS` for post `2000 Series Char-Lynn Motors` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- Custom field `features` has been updated with value `<ul>
	<li>
		Bearings that meet the highest standards of the industry</li>
	<li>
		Options to optimise performance in every application</li>
	<li>
		Three zone pressure design (inlet, return and case) allowing equal performance in both directions</li>
	<li>
		Intergrated cross over relief valve option</li>
	<li>
		Reliability and performance in tough applications</li>
	<li>
		Design flexibility</li>
	<li>
		Variety of displacments, mounts, shafts and options</li>
</ul>` for post `2000 Series Char-Lynn Motors` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- Custom field `dimensions` has been updated with value `<p>
	<img alt="" src="/uploads/images/2K Dim Data.jpg" style="width: 680px; height: 538px;" /></p>` for post `2000 Series Char-Lynn Motors` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- Custom field `applications` has been updated with value `<ul>
	<li>
		Skid steer attachments</li>
	<li>
		Swing motor</li>
	<li>
		Brush cutters &amp; mowers</li>
	<li>
		Harvesting equipment</li>
	<li>
		Directional boring any place pressure relief protection is optimal for system or motor performance and life</li>
	<li>
		Turf equipment</li>
	<li>
		Plus many more</li>
</ul>` for post `2000 Series Char-Lynn Motors` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.thehydraulicwarehouse.com.au/uploads/images/thumbs/504%20Char-Lynn%202000%20Series%20Motor.jpg?b=7&d=201202131511` for `2000 Series Char-Lynn Motors` ...</div>
<div class="progress-msg">- Image `http://www.thehydraulicwarehouse.com.au/uploads/images/thumbs/504%20Char-Lynn%202000%20Series%20Motor.jpg?b=7&d=201202131511` will be saved with name `50420Char-Lynn20200020Series20Motor.jpeg` ...</div>
<div class="progress-msg">- Downloading image from `http://www.thehydraulicwarehouse.com.au/uploads/images/thumbs/504%20Char-Lynn%202000%20Series%20Motor.jpg?b=7&d=201202131511`</div>
<div class="progress-msg">- Image `http://www.thehydraulicwarehouse.com.au/uploads/images/thumbs/504%20Char-Lynn%202000%20Series%20Motor.jpg?b=7&d=201202131511` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `/wp-content/uploads/2016/11/50420Char-Lynn20200020Series20Motor.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `/wp-content/uploads/2016/11/50420Char-Lynn20200020Series20Motor.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `hydraulic-brands` ...</div>
<div class="progress-msg">- Attempted to create parent Product hydraulic-brands `Char-Lynn`, duplicate detected. Importing Product to existing `Char-Lynn` hydraulic-brands, ID 60, slug `char-lynn` ...</div>
<div class="progress-msg">- Importing taxonomy `product-category` ...</div>
<div class="progress-msg"><b>UPDATED</b> `2000 Series Char-Lynn Motors` `Product` (ID: 52)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `S Series Char-Lynn Motors`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `S Series Char-Lynn Motors`...</div>
<div class="progress-msg">Duplicate post was founded for post S Series Char-Lynn Motors with unique key `52-THW`...</div>
<div class="progress-msg">Deleting attachments for `S Series Char-Lynn Motors`</div>
<div class="progress-msg">Deleting images for `S Series Char-Lynn Motors`</div>
<div class="progress-msg"><b>UPDATING</b> `S Series Char-Lynn Motors` `Product`</div>
<div class="progress-msg">Associate post `S Series Char-Lynn Motors` with current import ...</div>
<div class="progress-msg"><b>CUSTOM FIELDS:</b></div>
<div class="progress-msg">- Custom field tech_specs has been deleted for `S Series Char-Lynn Motors` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field features has been deleted for `S Series Char-Lynn Motors` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field dimensions has been deleted for `S Series Char-Lynn Motors` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field applications has been deleted for `S Series Char-Lynn Motors` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _wp_trash_meta_status has been deleted for `S Series Char-Lynn Motors` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _wp_trash_meta_time has been deleted for `S Series Char-Lynn Motors` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field _wp_old_slug has been deleted for `S Series Char-Lynn Motors` attempted to `update all custom fields` setting ...</div>
<div class="progress-msg">- Custom field `tech_specs` has been updated with value `TECH_SPECS` for post `S Series Char-Lynn Motors` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- Custom field `features` has been updated with value `<ul>
	<li>
		Constant clearance geroler design</li>
	<li>
		Three moving components (geroler, drive, and shaft)</li>
	<li>
		Optimised drive running angle</li>
	<li>
		Three zone pressure design (inlet, return and case) allowing equal perfomance in both directions</li>
	<li>
		Variety of displacements, mounts, shafts and special options to meet customer needs</li>
	<li>
		High efficiency</li>
	<li>
		Smooth low speed operation</li>
	<li>
		Extended motor life</li>
	<li>
		Design flexibility</li>
	<li>
		Ability to optimise designs for yor applications needs</li>
	<li>
		Extended leak free performance</li>
</ul>` for post `S Series Char-Lynn Motors` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- Custom field `dimensions` has been updated with value `<p>
	<br />
	&nbsp;</p>` for post `S Series Char-Lynn Motors` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg">- Custom field `applications` has been updated with value `<ul>
	<li>
		Agricultural augers, harvesters, seeders</li>
	<li>
		Car wash brushes</li>
	<li>
		Food processing</li>
	<li>
		Railroad maintenanc eequipment</li>
	<li>
		Machine tools</li>
	<li>
		Conveyors</li>
	<li>
		Industrial sweepers and floor polishers</li>
	<li>
		Saw mill works</li>
	<li>
		Turf equipment</li>
	<li>
		Concrete and asphalt equipment</li>
	<li>
		Skid Steer attachements</li>
	<li>
		Plus many more</li>
</ul>` for post `S Series Char-Lynn Motors` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_update_post_meta</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.thehydraulicwarehouse.com.au/uploads/images/thumbs/S%20Series%20Motor.jpg?b=9&d=201202131238` for `S Series Char-Lynn Motors` ...</div>
<div class="progress-msg">- Image `http://www.thehydraulicwarehouse.com.au/uploads/images/thumbs/S%20Series%20Motor.jpg?b=9&d=201202131238` will be saved with name `S20Series20Motor.jpeg` ...</div>
<div class="progress-msg">- Downloading image from `http://www.thehydraulicwarehouse.com.au/uploads/images/thumbs/S%20Series%20Motor.jpg?b=9&d=201202131238`</div>
<div class="progress-msg">- Image `http://www.thehydraulicwarehouse.com.au/uploads/images/thumbs/S%20Series%20Motor.jpg?b=9&d=201202131238` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `/wp-content/uploads/2016/11/S20Series20Motor.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `/wp-content/uploads/2016/11/S20Series20Motor.jpeg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `hydraulic-brands` ...</div>
<div class="progress-msg">- Attempted to create parent Product hydraulic-brands `Char-Lynn`, duplicate detected. Importing Product to existing `Char-Lynn` hydraulic-brands, ID 60, slug `char-lynn` ...</div>
<div class="progress-msg">- Importing taxonomy `product-category` ...</div>
<div class="progress-msg"><b>UPDATED</b> `S Series Char-Lynn Motors` `Product` (ID: 54)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
<div class="progress-msg">Done</div>
