#header {
	height:160px;
}
#header-top {
	display:none;
}
#header-middle a.logo {
	display:none;
}
#header-middle img.logo {
	display:block;
}
#header-middle ul.menu {
	display:none;
}
li > div.dropdown {
	display:none;
}
#content #breadcrumbs {
	display:none;
}
#content #sidebar {
	display:none;
}
#content #main {
	width:925px;
	padding-left:0;
	float:none;
}
#content div.tabs-nav {
	display:none;
}
#content .tabs-item-title {
	padding-top:15px;
	display:block;
}

#footer-top {
	display:none;
}
#footer-bottom a.back-top {
	display:none;
}
#footer-bottom ul {
	display:none;
}

#content div.clearhr {
	height:8px;
}
.grid .grid-item-image img {
	display:block;
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
Product Detail
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
#content .product-image-lg img {
	display:block;
}
body.product-details #main div.extra-buttons {	
	display:none;
}

body.product-details #main .other-products {
	display:none;
}
#content div.tabs-item {
	display:block !important;
	border:1px solid #919191;
	height:auto;
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
Home
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
#home-slider-holder {
	display:none;
}
body.home #content #top-links {
	display:none;
}
body.home #content div.brands-we-sell {
	display:none;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::
FAQ
:::::::::::::::::::::::::::::::::::::::::::::::::::*/
.faq #main .answer {
	display:block;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::
WYSIWYG
:::::::::::::::::::::::::::::::::::::::::::::::::::*/
.wysiwyg ul {
	list-style:disc outside none;
}
.wysiwyg ul li { 
	background:none; 
	line-height: 25px;
	padding-left: 0;
}
